body{
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
    height:100%;
    background: none;
}

main{
    /*display: flex;*/
    width: 100vw;
    height: 100vh;

}



.left-section{
    width: 50vw;
    height: 100vh;
    padding: 0;

}

.right-section{
    width: 50vw;
    height: 100vh;
    padding: 0;

}

.avatar-img{
    border-radius: 125px;
    position: absolute;
    top: 10%;
    left: 64%;

}

.greetingText{
    position: absolute;
    top: 18%;
    left: 0;
    right: 37%;
}

.greeting{
    color: whitesmoke;
    font-family: 'Audiowide', cursive;
    /*position: absolute;*/
    /*top: 18%;*/
    /*left: 0;*/
    /*right: 37%;*/
    /*color: #FFF;*/
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

.glow{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00008b, 0 0 40px #00008b, 0 0 50px #00008b, 0 0 60px #00008b, 0 0 70px #00008b;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #3E92CC, 0 0 40px #3E92CC, 0 0 50px #3E92CC, 0 0 60px #3E92CC, 0 0 70px #3E92CC, 0 0 80px #3E92CC;
    }
}

.aboutMe-btn{
    /*z-index: 1;*/
   /*position: absolute;*/
    /*top: 25%;*/
    /*bottom: 12%;*/
    /*left: 6%;*/
    /*right: 0;*/
    /*color: #FFF;*/
    /*text-align: center;*/
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    /*margin-top: -60px;*/

}

.skills-btn{
    /*z-index: 1;*/
    /*position: absolute;*/
    /*top: 45%;*/
    /*bottom: 5%;*/
    /*left: 28%;*/
    /*right: 0;*/
    /*text-align: center;*/
    /*margin-top: -60px;*/

}

.portfolio-btn{
    /*z-index: 1;*/
    /*position: absolute;*/
    /*top: 75%;*/
    /*bottom: 5%;*/
    /*!*left: 29%;*!*/
    /*right: 7%;*/
    /*text-align: center;*/
    /*margin-top: -60px;*/

}

.contact-btn{
    /*z-index: 1;*/
    /*position: absolute;*/
    /*top: 15%;*/
    /*bottom: 12%;*/
    /*left: 51%;*/
    /*!*right: 0;*!*/
    /*text-align: center;*/
    /*margin-top: -60px;*/

}

.btn-aboutMe{
    display: inline-block;
    /*z-index: 2;*/
    color: #92D9EC;
    position: relative;
    bottom: 61%;
    /*left: 0%;*/
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 1.2em;
    margin: 0;
    padding: 1px 0;
    background: #466E74;
    border-radius: 25px;

}

.btn-skills{
    /*z-index: 2;*/
    color: #92D9EC;
    position: relative;
    bottom: 61%;
    /*left: 32.5%;*/
    /*text-align: center;*/
    font-family: 'Audiowide', cursive;
    font-size: 1.2em;
    margin: 0;
    padding: 1px 0;
    background: #466E74;
    border-radius: 25px;

}

.btn-contact{
    /*z-index: 2;*/
    color: #92D9EC;
    position: relative;
    bottom: 61%;
    /*right: 33.9%;*/
    /*text-align: center;*/
    font-family: 'Audiowide', cursive;
    font-size: 1.2em;
    margin: 0;
    padding: 1px 0;
    background: #466E74;
    border-radius: 25px;

}

.btn-portfolio{
    /*z-index: 2;*/
    color: #92D9EC;
    position: relative;
    bottom: 61%;
    /*right: 9.5%;*/
    /*text-align: center;*/
    font-family: 'Audiowide', cursive;
    font-size: 1.2em;
    margin: 0;
    padding: 1px 0;
    background: #466E74;
    border-radius: 25px;

}

.fa-chevron-left, .fa-chevron-right{
    color: #92D9EC;
    font-size: 1.2em;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*background: yellow;*/
    width: 100%;
    height: 12%;
    z-index: 1;
    position: absolute;
    bottom: 5%;
}

.aboutme-box, .skills-box, .contact-box, .portfolio-box {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    /*background: hotpink;*/
    /*z-index: 2;*/
    width: 240px;
    height: 80px;
}

/*Shuttle Styles*/
.fa-space-shuttle{
    /*transform: rotate(-90deg) !important;*/
    transition: transform .8s ease-in-out;
    transform: rotate(-90deg) translateX(180px);
    font-size: 60px;
    color: whitesmoke;
    height: 58px;
    width: 80px;
    position: relative;
    bottom: 12px;
    display: inline-block;
    /*animation: mymove 1s ;*/
}


/* Standard syntax */
/*@keyframes mymove {*/
/*    from {transform: rotate(270deg)}*/
/*    to {transform: rotate(-90deg)}*/
/*}*/

/*Div with button & rocket*/
.btn-rocket-group{
    display: flex;
    flex-direction: column;
    align-items: center;


}
